@import 'variables';
.anim-appear {
    opacity: 0;
}

.anim-appear.anim-appear-active {
    opacity: 1;
    transition: opacity 1.5s ease-in;
}

.animdetailinfo-appear {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 2s;
    -moz-transition: max-height 2s;
    transition: max-height 2s;
}

.animdetailinfo-appear.animdetailinfo-appear-active {
    max-height: 800px;
}

.gridLazyLoadingAnim-appear {
    opacity: 0;
}

.gridLazyLoadingAnim-appear.gridLazyLoadingAnim-appear-active {
    opacity: 1;
    transition: opacity 0.7s ease-in;
}

// .anim-enter {
//   opacity: 0.01;
// }
// .anim-enter.anim-enter-active {
//   opacity: 1;
//   transition: opacity 1s ease-in;
// }
// .anim-leave {
//   opacity: 0.01;
// }
// .anim-leave.anim-leave-active {
//   opacity: 1;
//   transition: opacity 1s ease-in;
// }

/*Metronic Override*/

body.page-md {
    font-family: 'Roboto', sans-serif;
    background-color: $gray-background;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Roboto', sans-serif;
    } //Navigation
    .page-header.navbar {
        .page-header-inner {
            .page-logo {
                background: $white-primary;
                .menu-toggler {
                    i {
                        font-size: $font16;
                        color: $gray-cascade;
                        float: right;
                        margin-top: 2px;
                    }
                }
                .logo-default {
                    width: 180px;
                    margin-top: 22px;
                }
            }
            .page-top {
                .top-menu {
                    ul.nav {
                        li {
                            a {
                                padding-left: 10px;
                                padding-right: 10px;
                            }
                            &.play-store-item {
                                a {
                                    img {
                                        width: 130px;
                                    }
                                }
                            }
                            &.app-store-item {
                                a {
                                    img {
                                        width: 115px;
                                        margin-top: 8px;
                                    }
                                }
                            }
                            &.windows-store-item {
                                a {
                                    img {
                                        width: 95px;
                                        margin-top: 7px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    } //Sidebar
    .page-container {
        .page-sidebar-wrapper {
            .page-sidebar {
                background-color: $white-primary;
                .page-sidebar-menu {
                    margin-top: 0;
                    li {
                        a {
                            color: $black-text;
                            border-top: 1px solid $gray-border;
                            transition: all 0.1s ease-in;
                            i {
                                color: $black-text;
                            }
                        }
                        &.active,
                        &:hover {
                            a {
                                color: $white-primary;
                                background: $red-primary;
                                margin-left: -3px;
                                padding-left: 15px;
                                border-left: 3px solid $black-primary !important;
                                i {
                                    color: $white-primary;
                                }
                            }
                        }
                    }
                }
            }
        }
    } //Grid layout
    .page-content {
        padding-top: 0;
        .page-head {
            margin-bottom: 10px;
            padding: 12px 20px;
            background-color: #fff;
            box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.03);
            .page-title {
                padding-bottom: 5px;
                h1 {
                    color: $black-text;
                    span {
                        vertical-align: sub;
                        margin-right: 10px;
                    }
                    .input-icon {
                        display: inline-block;
                    }
                }
            }
            .page-toolbar {
                padding: 5px 0 10px;
                .btn-group {
                    .portlet-input {
                        float: left;
                    }
                    .btn {
                        margin-left: 10px;
                    }
                }
            }
        }
        .grid-layout {
            .row {
                .portlet {
                    display: block;
                    .portlet-title {
                        .caption {
                            max-width: 70%;
                            .caption-subject {
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }
                    }
                    .portlet-body {
                        overflow-y: hidden;
                        img.illust-thumbnail {
                            object-fit: cover;
                            width: 100%;
                            height: 230px;
                            @media #{$mobile-screen} {
                                width: 100%;
                                height: auto;
                            }
                            @media #{$tablet-screen} {
                                width: 310px;
                                height: 310px;
                            }
                        }
                        .illust-container {
                            position: relative;
                            .illust-count {
                                padding: 10px 15px;
                                position: absolute;
                                top: 0;
                                color: white;
                                right: 0;
                                .illust-count-overlay {
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    background: black;
                                    width: 100%;
                                    height: 100%;
                                    opacity: 0.7;
                                    border-radius: 5px;
                                }
                                .illust-count-content {
                                    z-index: 1;
                                    position: relative;
                                    img {
                                        width: 16px;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                        .bottom-info {
                            color: $red-primary;
                            .bookmark,
                            .view {
                                i {
                                    margin-right: 2px;
                                }
                            }
                        }
                    }
                }
                .grid-item-placeholder {
                    background: #fff;
                    border: 1px solid;
                    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
                    border-radius: 3px;
                    padding: 12px;
                    margin: 0 auto;
                    max-width: 100%;
                    min-height: 275px;
                    margin-bottom: 15px;
                }
                @keyframes placeHolderShimmer {
                    0% {
                        background-position: -468px 0
                    }
                    100% {
                        background-position: 468px 0
                    }
                }
                .animated-background {
                    animation-duration: 1s;
                    animation-fill-mode: forwards;
                    animation-iteration-count: infinite;
                    animation-name: placeHolderShimmer;
                    animation-timing-function: linear;
                    background: #f6f7f8;
                    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
                    background-size: 800px 104px;
                    height: 96px;
                    position: relative;
                }
                .background-masker {
                    background: #fff;
                    position: absolute;
                }
                /* Every thing below this is just positioning */
                .background-masker.header-top,
                .background-masker.header-bottom,
                .background-masker.subheader-bottom {
                    top: 0;
                    left: 40px;
                    right: 0;
                    height: 10px;
                }
                .background-masker.header-left,
                .background-masker.subheader-left,
                .background-masker.header-right,
                .background-masker.subheader-right {
                    top: 10px;
                    left: 40px;
                    height: 8px;
                    width: 10px;
                }
                .background-masker.header-bottom {
                    top: 18px;
                    height: 6px;
                }
                .background-masker.subheader-left,
                .background-masker.subheader-right {
                    top: 24px;
                    height: 6px;
                }
                .background-masker.header-right,
                .background-masker.subheader-right {
                    width: auto;
                    left: 300px;
                    right: 0;
                }
                .background-masker.subheader-right {
                    left: 230px;
                }
                .background-masker.subheader-bottom {
                    top: 30px;
                    height: 10px;
                }
                .background-masker.content-top,
                .background-masker.content-second-line,
                .background-masker.content-third-line,
                .background-masker.content-second-end,
                .background-masker.content-third-end,
                .background-masker.content-first-end {
                    top: 40px;
                    left: 0;
                    right: 0;
                    height: 6px;
                }
                .background-masker.content-top {
                    height: 20px;
                }
                .background-masker.content-first-end,
                .background-masker.content-second-end,
                .background-masker.content-third-end {
                    width: auto;
                    left: 380px;
                    right: 0;
                    top: 60px;
                    height: 8px;
                }
                .background-masker.content-second-line {
                    top: 68px;
                }
                .background-masker.content-second-end {
                    left: 420px;
                    top: 74px;
                }
                .background-masker.content-third-line {
                    top: 82px;
                }
                .background-masker.content-third-end {
                    left: 300px;
                    top: 88px;
                }
            }
            .loader {
                margin: 20px auto;
                width: 100%;
                text-align: center;
                div>div {
                    width: 12px;
                    height: 12px;
                    background-color: $red-primary;
                    opacity: 0.8;
                    &:after,
                    &:before {
                        background-color: $red-primary;
                    }
                }
            }
        }
        .caption-right {
            float: right;
            i.fa,
            .caption-subject {
                color: $red-primary;
            }
        }
        .loader-60devs .loader-60devs-progress {
            background: $red-primary;
        }
    }
    .react-datepicker__input-container {
        width: 100%;
    } // Slick Slider
    .slick-slider {
        .slick-slide {
            img {
                -webkit-user-drag: none;
                -khtml-user-drag: none;
                -moz-user-drag: none;
                -o-user-drag: none;
                user-drag: none;
            }
        }
    }
    .slick-prev {
        width: 30px;
        height: 30px;
        &:before {
            font-size: 30px;
            content: "\f104";
            font-family: FontAwesome;
            color: $gray-cascade;
        }
    }
    .slick-next {
        width: 30px;
        height: 30px;
        &:before {
            font-size: 30px;
            content: "\f105";
            font-family: FontAwesome;
            color: $gray-cascade;
        }
    }
}

//Social Share Button Styles
.bg-facebook {
    background-color: #3B5998
}

.bg-twitter {
    background-color: #1DA1F2
}

.bg-googleplus {
    background-color: #DB4437
}

.social-buttons {
    div {
        display: inline-block;
        margin-left: 10px;
        .socicon-btn.socicon-btn-circle {
            i.fa {
                color: white;
            }
        }
    }
}

//Image Detail Styles
.image-detail {
    .primary-image {
        background: $white-primary;
        img {
            margin: 0 auto;
        }
        .slick-dots {
            bottom: -20px;
        }
    }
    .image-info {
        .portlet-title {
            .caption {
                margin-top: 15px;
                .caption-subject {
                    margin-left: 5px;
                }
                &.caption-right {
                    margin-top: 0;
                }
            }
        }
        .portlet-body {
            .total-view {
                text-align: center;
                margin-bottom: 10px;
                i {
                    color: $red-primary;
                    margin: 0 30px;
                    font-size: $font16;
                }
            }
            .tag-label,
            .artist-illust-label {
                color: $red-primary;
            }
            .tags {
                .label {
                    background-color: $red-primary;
                    color: $white-primary;
                    display: inline-block;
                    font-size: $font12;
                    margin: 5px;
                    padding: 5px;
                }
            }
            .slick-slider {
                .slider-item {
                    padding: 0 5px;
                    img {
                        object-fit: cover;
                        width: 103px;
                        height: 103px;
                        @media #{$mobile-screen} {
                            width: 130px;
                            height: 130px;
                            margin: 0 auto;
                        }
                    }
                }
                .slick-prev {
                    left: -22px;
                }
                .slick-next {
                    right: -22px;
                }
            }
        }
    }
    .related-works {
        .caption-subject {
            color: $red-primary;
        }
        .portlet.light {
            .portlet-body {
                .portlet.light {
                    box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.1);
                }
            }
        }
    }
}

//GIF Detail Styles
.gif-detail {
    .portlet.image-info {
        .portlet-title {
            .caption {
                margin-top: 15px;
                color: $red-primary;
            }
            .caption-right {
                margin-top: 0;
            }
        }
        .portlet-body {
            .detail-info-title {
                font-size: $font18;
            }
        }
        .form-group {
            margin-bottom: 20px;
            label {
                color: $black-text;
            }
            input.form-control {
                cursor: text;
            }
        }
    }
}

// Profile Styles
.profile {
    .profile-sidebar-portlet {
        margin-bottom: 0;
        .profile-usertitle-name {
            padding-bottom: 5px;
            color: $black-text;
            font-weight: bold;
            .gender, .twitter, .webpage {
                font-size: 14px;
                margin-left: 15px;
                margin-right: 15px;
                i {
                    margin-right: 5px;
                }
            }
        }
    }
}