<!DOCTYPE html>
<html lang="en">
<!--
  **NOTE:** This is a template for index.html. It uses ejs and htmlWebpackPlugin to generate a different index.html for each environment. htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file. The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
  For more info on ejs, see http://www.embeddedjs.com/. For examples of using it with htmlWebpackPlugin, see https://github.com/jaketrent/html-webpack-template/blob/master/index.ejs
  -->

<head>
    <!--
    The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
    This is an example of how to add features to index.html for only one environment.
    To track JavaScript errors via TrackJS, sign up for a free trial at TrackJS.com and enter your token in /webpack.config.prod.js on line 55.
   -->

            <meta content="width=device-width, initial-scale=1" name="viewport" />
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="utf-8" />
            <title>Anime Illust</title>
            <link href="/images/icon/favicon.ico" rel="shortcut icon" type="image/x-icon">
            <!-- BEGIN GLOBAL MANDATORY STYLES -->
            <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"
            />
            <script src="https://use.fontawesome.com/ae29d5b2d6.js"></script>
</head>

<body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-fixed page-container-bg-solid page-md" style="opacity: 0;">
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=210097742809690";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- BEGIN HEADER -->
    <div class="page-header navbar navbar-fixed-top">
        <!-- BEGIN HEADER INNER -->
        <div class="page-header-inner ">
            <!-- BEGIN LOGO -->
            <div class="page-logo">
                <a href="/">
                        <img src="/images/general/ai_logo_text_only.svg" alt="logo" class="logo-default" /> </a>
                <div class="menu-toggler sidebar-toggler">
                    <i class="fa fa-bars"></i>
                    <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
                </div>
            </div>
            <!-- END LOGO -->
            <!-- BEGIN RESPONSIVE MENU TOGGLER -->
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
                <i class="fa fa-bars"></i>
            </a>
            <!-- END RESPONSIVE MENU TOGGLER -->
            <!-- BEGIN PAGE TOP -->
            <div class="page-top">
                <!-- BEGIN TOP NAVIGATION MENU -->
                <div class="top-menu">
                    <ul class="nav navbar-nav pull-right">
                        <!-- BEGIN NOTIFICATION DROPDOWN -->
                        <!-- DOC: Apply "dropdown-dark" class after below "dropdown-extended" to change the dropdown styte -->
                        <li class="play-store-item">
                            <a href="javascript:;">
                                <img width="130" src="./images/store_badges/google-play-badge.png"/>
                            </a>
                        </li>
                        <li class="app-store-item">
                            <a href="javascript:;">
                                <img width="130" src="./images/store_badges/app-store-badge.png"/>
                            </a>
                        </li>
                        <!-- <li class="windows-store-item">
                            <a href="javascript:;">
                                <img width="130" src="./images/store_badges/windows-store-badge.png"/>
                            </a>
                        </li> -->
                        <!-- END NOTIFICATION DROPDOWN -->
                    </ul>
                </div>
                <!-- END TOP NAVIGATION MENU -->
            </div>
            <!-- END PAGE TOP -->
        </div>
        <!-- END HEADER INNER -->
    </div>
    <!-- END HEADER -->

    <!-- BEGIN HEADER & CONTENT DIVIDER -->
    <div class="clearfix"> </div>
    <!-- END HEADER & CONTENT DIVIDER -->

    <div class="page-container">
        <div id="app"></div>
        <!-- BEGIN CONTENT -->
    </div>
    <script src="/libs/metronic_theme/plugins/jquery.min.js" type="text/javascript"></script>
    <script src="/libs/metronic_theme/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <!-- BEGIN THEME GLOBAL SCRIPTS -->
    <script src="/libs/metronic_theme/general/scripts/app.js" type="text/javascript"></script>
    <script src="/libs/metronic_theme/general/scripts/layout.js" type="text/javascript"></script>
    <script src="/scripts/global.js" type="text/javascript"></script>
    <script src="/bundle.js" type="text/javascript"></script>
</body>

</html>
