<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Responsive Bootstrap App Landing Page Template">
    <meta name="keywords" content="mix, Bootstrap, Landing page, Template, App, Mobile, iOS, Android">
    <meta name="author" content="Ola Hamdy">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Anime Illust - Download the app now</title>
    <!-- Favicons AND TOUCH ICONS   -->
    <link rel="icon" href="/images/icon/favicon.ico">
    <link rel="apple-touch-icon" href="/libs/wix_theme/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/libs/wix_theme/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/libs/wix_theme/images/apple-touch-icon-114x114.png">
    <!-- Font-awesome and Custom Google Web Font -->
    <link href="/libs/wix_theme/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <!-- Bootstrap -->
    <link href="/libs/wix_theme/css/bootstrap.min.css" rel="stylesheet">
    <!-- Stylesheets -->
    <link href="/libs/wix_theme/css/owl-carousel/owl.carousel.css" rel="stylesheet">
    <link href="/libs/wix_theme/css/owl-carousel/owl.theme.css" rel="stylesheet">
    <link href="/libs/wix_theme/css/owl-carousel/owl.transitions.css" rel="stylesheet">
    <link href="/libs/wix_theme/css/nivo-lightbox.css" rel="stylesheet">
    <link href="/libs/wix_theme/css/nivo_themes/default/default.css" rel="stylesheet">
    <link href="/libs/wix_theme/css/animate.min.css" rel="stylesheet">
    <link href="/libs/wix_theme/css/supersized.css" rel="stylesheet">
    <!-- theme stylesheet -->
    <link href="/libs/wix_theme/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
                                <script src="/libs/wix_theme/js/html5shiv.js"></script>
                                <script src="/libs/wix_theme/js/respond.min.js"></script>
        <![endif]-->
    <script src="/libs/wix_theme/js/modernizr.custom.min.js"></script>
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
    <!-- google analytic -->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-57276999-1']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <!-- preloader -->
    <div class="preloader">
        <div class="status"></div>
    </div>
    <!-- Header -->
    <header>
        <nav class="navbar navbar-custom navbar-top navbar-fixed-top sticky-navigation" role="navigation">
            <div class="container-fluid">
                <a class="page-scroll btn-new btn-bold pull-right" href="#download">Download </a>
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <!-- LOGO -->
                    <a class="navbar-brand nav-logo" href="/">
                        <img src="/images/general/ai_logo_text_only.svg" height="50px" alt="mix" />
                    </a>
                </div>
                <!-- NAVIGATION LINKS -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a class="page-scroll" href="#intro">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#firstFeature">Features </a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#screenshots">Screenshots </a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#team">Team</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->

            </div>
            <!-- /.container -->
        </nav>
    </header>
    <!-- Header end -->

    <!-- parallax intro -->
    <section id="intro">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <!-- left-intro -->
                    <div class="col-md-12 middle-intro">
                        <img class="logo" alt="logo" width="500px" src='/images/general/ai_logo_text_only.svg' title="mix" />
                        <h1> The best and most satisfying app for Anime lovers. </h1>
                        <p>Available on App Store
                            <span class="fa fa-apple"></span> and Google Play Store
                            <span class="fa fa-android"></span>
                        </p>
                    </div>
                    <!-- col-md-12 end -->
                    <!--  mobile image -->
                    <div class="col-md-12 wow fadeInUp animated" data-wow-duration="2.5s">
                        <div class="mobileBg">
                            <img class="img-responsive" src="/libs/wix_theme/images/phones/mobile.png" alt="app" />
                        </div>
                    </div>
                    <!-- col-md-12 end -->
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->

            <div class="intro-btn">
                <a class="btn-new btn-bold page-scroll" href="#firstFeature">
                    Learn More
                </a>
                <a class="btn-new  btn-bold page-scroll" href="#download">
                    Get The App
                </a>
            </div>
        </div>
        <!-- overlay end -->
        <div id="supersized"></div>
    </section>
    <!-- #intro end -->

    <!-- firstFeature -->
    <section id="firstFeature">
        <div class="container">
            <div class="row">
                <!-- left firstFeature mobile  -->
                <div class="col-md-6 feature-mobile">
                    <div class="phones">
                        <!-- BACK PHONE -->
                        <img class="phone-back wow fadeInLeft animated" data-wow-offset="120" data-wow-duration="1s" alt="img" src="/libs/wix_theme/images/phones/android2.png"
                        />
                        <!-- SHADOW -->
                        <div class="shadow-left wow fadeInLeft animated" data-wow-offset="120" data-wow-duration="1s"></div>
                        <!-- FRONT PHONE -->
                        <img class="phone-front wow fadeInLeft animated" data-wow-offset="120" data-wow-duration="1.5s" alt="img" src="/libs/wix_theme/images/phones/android.png"
                        />
                    </div>
                </div>
                <!-- feature-mobile end -->
                <!-- right firstFeature text -->
                <div class="col-md-6 welcomeText">
                    <h2>
                        Discover all the best anime arts with Anime Illust
                    </h2>
                    <div class="colorTitles">
                        <span class="pink wow bounceInRight animated" data-wow-offset="120" data-wow-duration="1s">
                            Millions of beautiful anime wallpaper and background
                        </span>
                        <br>
                        <span class="yellow wow bounceInRight animated" data-wow-offset="120" data-wow-duration="1.5s">
                            Built with delicate design, great user interface and friendly user experience for various devices
                        </span>
                    </div>
                    <hr>
                    <p class="bold">Features</p>
                    <ul class="feature-list">
                        <li>
                            <i class="fa fa-mobile fa-fw"></i> Set your favorite pictures as Lock Screen and Home Screen wallpapers.</li>
                        <li>
                            <i class="fa fa-star fa-fw"></i> Easy to find amazing anime wallpapers by ranking, keywords, tags and collections.</li>
                        <li>
                            <i class="fa fa-share-square-o fa-fw"></i> Share your favorite pictures to many social networks</li>
                    </ul>
                    <div class="space20"></div>
                    <a href="#download" class=" page-scroll btn-new">
                        Download Now
                    </a>
                </div>
                <!-- welcomeText end -->
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
    </section>
    <!-- firstFeature end -->

    <!-- secondFeature -->
    <section id="secondFeature">
        <div class="container">
            <div class="row">
                <!-- right secondFeature mobile -->
                <div class="secondFeatureRight">
                    <img class="secondFeaturePhone" alt="img" src="/libs/wix_theme/images/phones/android-sample.png" />
                    <span class="mobileScreenWrapper">
                        <span class="mobileScreen"></span>
                    </span>
                </div>
                <!-- secondFeatureRight end -->
                <!-- left secondFeature text -->
                <div class="secondFeatureLeft">
                    <h2 class="light">
                        <span class="bold"> Available </span> on
                        <br> App Store and Google Play Store
                    </h2>
                    <p>
                        Anime Illust is a wonderful app to download HD pictures, wallpapers from anime, manga, games, light novels and original artworks.
                        It's built with delicate design, great user interface and friendly user experience for various devices
                    </p>
                    <ul class="circleSocial">
                        <li>
                            <a href="https://itunes.apple.com/us/app/anime-illust/id1194666149">
                                <i class="fa fa-apple"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=jcstudio.animeillustfree">
                                <i class="fa fa-android"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- secondFeatureLeft end -->
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->

    </section>
    <!-- secondFeature end -->

    <div class="clearfix secondFeatureClear"></div>
    <!-- parallax -->
    <div class="parallaxBg">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 titleSection  wow fadeInUp animated" data-wow-offset="100" data-wow-duration="1s">
                        <h2 class="downloadNumber">OVER 50,000
                            <br> DOWNLOADS</h2>
                        <div class="colorTitles ">
                        </div>
                        <p></p>
                    </div>
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
        </div>
        <!-- overlay end -->
    </div>
    <!-- parallax end -->

    <!-- features -->
    <section id="features">
        <div class="container">
            <div class="row">
                <!-- left features -->
                <div class="col-md-4 features-left">
                    <ul>
                        <li class="wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="0.5s">
                            <div class="features-ico">
                                <i class="fa fa-photo yellow"></i>
                            </div>
                            <div class="features-info">
                                <h4>HD Anime illustrations</h4>
                                <p>Millions of beautiful anime illustrations for you to download with great quality.</p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1s">
                            <div class="features-ico">
                                <i class="fa fa-mobile purple"></i>
                            </div>
                            <div class="features-info">
                                <h4>Customize your phone</h4>
                                <p>Set your home screen and lock screen with stunning wallpapers.</p>
                            </div>
                        </li>
                        <li class="wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
                            <div class="features-ico">
                                <i class="fa fa-list blue"></i>
                            </div>
                            <div class="features-info">
                                <h4>The Ultimate Collection</h4>
                                <p>
                                    Find your favorite pictures from our Ultimate Collections of anime movies, manga, games and original artworks.
                                </p>
                            </div>
                        </li>

                    </ul>
                </div>
                <!-- col-md-4 features-left end -->
                <!--  features mobile  -->
                <div id="featuresMobile" class="col-md-4 wow fadeInUp animated" data-wow-offset="100" data-wow-duration="1s">
                    <img alt="application" class="img-responsive mobile" src="/libs/wix_theme/images/phones/app-feature.png">
                </div>
                <!-- col-md-4 features-left end -->
                <!-- right features -->
                <div class="col-md-4 features-right">
                    <ul>
                        <li class="wow fadeInRight animated" data-wow-offset="10" data-wow-duration="0.5s">
                            <div class="features-ico">
                                <i class="fa fa-share-square-o yellow"></i>
                            </div>
                            <div class="features-info">
                                <h4>Share with your friends</h4>
                                <p>Share your favorite pictures with your friends via messages, email or social networks like
                                    Facebook, Twitter, Google Plus,...</p>
                            </div>
                        </li>
                        <li class="wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1s">
                            <div class="features-ico">
                                <i class="fa fa-file-photo-o purple"></i>
                            </div>
                            <div class="features-info">
                                <h4>Support GIF images</h4>
                                <p>Explore unlimited funny anime GIFs</p>
                            </div>
                        </li>
                        <li class="wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                            <div class="features-ico">
                                <i class="fa fa-download blue"></i>
                            </div>
                            <div class="features-info">
                                <h4>Free to download</h4>
                                <p>The app is free to download for both iOS and Android version</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <!-- col-md-4 features-right end -->
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
    </section>
    <!-- features end -->

    <!-- parallax testimonials -->
    <section class="parallaxBg">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <!-- testimonials carousel -->
                        <div id="owl-carousel-testimonials" class="owl-carousel">
                            <div>
                                <a target="_blank" href="https://play.google.com/store/apps/details?id=jcstudio.animeillustfree&reviewId=Z3A6QU9xcFRPR2hfSlBQNFM1UTZwRTdPd1A0S29RVkctUUlkd3FhVFkxUGt5T2F1RDJHRHZTTE94dmtPTk1iUjdxUV9pRnBfWTc2cXBCbEotTURkRzNDMXNF">
                                    <img src="https://lh6.googleusercontent.com/-WOKwm55g064/AAAAAAAAAAI/AAAAAAAAA7s/l1ifU1qhDJc/w48-h48-p/photo.jpg" class="img-responsive"
                                        alt="" />
                                    <h5>Amit Sarania <i class="fa fa-link"></i></h5>
                                </a>
                                <p>I used to be a kid who used to search for wallpapers on different websites and still not
                                    get the right one. I used to become sad and depressed...but once Anime Illust entered
                                    my life it has become a piece of cake. I could get my desired pics in a few mins and
                                    be happy about it. Thanks "Anime Illust" 😂😂😂...I just made this as a joke but seriously
                                    thanks guys for making this app</p>
                            </div>
                            <div>
                                <a target="_blank" href="https://play.google.com/store/apps/details?id=jcstudio.animeillustfree&reviewId=Z3A6QU9xcFRPRmZRYThxVmtObzFmcFdrbHZNX3c4Y2o4aktmclJMNktWN2FldFZCZ19ndDRQc0ROMEpHZDVGWUhaRE1QQTRHUndXbk12VE9wWWpqeFMtRmJJ">
                                    <img src="https://lh6.googleusercontent.com/-i9lw45aQzIQ/AAAAAAAAAAI/AAAAAAAAAAA/ACnBePZd46pkh0TFmNoG5MB3kUU4Mw3Jaw/w48-h48-p/photo.jpg"
                                        class="img-responsive" alt="" />
                                    <h5>kughato aw <i class="fa fa-link"></i></h5>
                                </a>
                                <p>Just loved it ! The best and most satisfying app where u can find almost all the Anime images
                                    in Hd.I found almost all the anime images that i was searching for a long time in Hd.interestingly
                                    apart from anime i also found other images like Worldoftanks etc...! Otaku's searching
                                    4 best anime images should , should try this app,.! Am.. Looking forward to this app
                                    in the coming future... And i hope the New update would be even better!</p>
                            </div>
                            <div>
                                <a target="_blank" href="https://play.google.com/store/apps/details?id=jcstudio.animeillustfree&reviewId=Z3A6QU9xcFRPRjVhVVRuajZxMFdlNmZfSXdIbnNMcll0MXpoQTI5M1NXdjlQMlJWZ3F1Vm5CekEwaEFjV2EzNjdxRVRtYUVRMHBhNWppX09fem1yX25IRm53">
                                    <img src="https://lh6.googleusercontent.com/-5w55_f6gL2Q/AAAAAAAAAAI/AAAAAAAADU4/qqkplAvgF9k/w48-h48-p/photo.jpg" class="img-responsive"
                                        alt="" />
                                    <h5>allan ye <i class="fa fa-link"></i></h5>
                                </a>
                                <p>Fantastic app. If you are looking for high quality anime pictures to use as wallpaper, Anime
                                    Illust is the best app out there</p>
                            </div>
                            <div>
                                <a target="_blank" href="https://play.google.com/store/apps/details?id=jcstudio.animeillustfree&reviewId=Z3A6QU9xcFRPR1JwSlk2X2VNd1J1WFBGX1gyaUIwS1pzTVJvYms0bEg5WEJLZ3FzTnlnNS1uQTdzSnRNM2ljZzUwYmQzdlJLQ0l0M0dYMEU0MDNybkhRWmJr">
                                    <img src="https://lh6.googleusercontent.com/-dCW87aaI9f0/AAAAAAAAAAI/AAAAAAAAAv4/qNyYa9rPEgc/w48-h48-p/photo.jpg" class="img-responsive"
                                        alt="" />
                                    <h5>Emerala  <i class="fa fa-link"></i></h5>
                                </a>
                                <p>
                                    It's really good, maybe one of the best image ones I've seen. It has tons of selections and keeps adding more with very high
                                    resolution. Just about no ads either.
                                </p>
                            </div>
                        </div>
                        <!-- owl-carousel-testimonials end -->
                    </div>
                    <!-- col-md-12 end -->
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
        </div>
        <!-- overlay end -->
    </section>
    <!-- testimonials end -->

    <!-- Screenshots -->
    <section id="screenshots">
        <div class="container">
            <div class="row">
                <!-- screenshots title -->
                <div class="col-md-12 titleSection">
                    <h2> Some beautiful screenshots from Anime Illust </h2>
                    <div class="coloredLine"></div>
                </div>
                <!-- col-md-12 end -->
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
        <div class="space80"></div>
        <div class="container">
            <div class="row">
                <!-- screenshots carousel -->
                <div id="owl-carousel-works" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="latest-item col-md-12">
                            <a href="/libs/wix_theme/images/screenshots/1.png" title="screen #4" data-lightbox-gallery="screenshots-gallery">
                                <img src="/libs/wix_theme/images/screenshots/1.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-item col-md-12">
                            <a href="/libs/wix_theme/images/screenshots/2.png" title="screen #6" data-lightbox-gallery="screenshots-gallery">
                                <img src="/libs/wix_theme/images/screenshots/2.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-item col-md-12 ">
                            <a href="/libs/wix_theme/images/screenshots/3.png" title="screen #2" data-lightbox-gallery="screenshots-gallery">
                                <img src="/libs/wix_theme/images/screenshots/3.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-item col-md-12">
                            <a href="/libs/wix_theme/images/screenshots/4.png" title="screen #1" data-lightbox-gallery="screenshots-gallery">
                                <img src="/libs/wix_theme/images/screenshots/4.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-item col-md-12">
                            <a href="/libs/wix_theme/images/screenshots/5.png" title="screen #1" data-lightbox-gallery="screenshots-gallery">
                                <img src="/libs/wix_theme/images/screenshots/5.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="latest-item col-md-12">
                            <a href="/libs/wix_theme/images/screenshots/6.png" title="screen #1" data-lightbox-gallery="screenshots-gallery">
                                <img src="/libs/wix_theme/images/screenshots/6.png" class="img-responsive" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <!-- owl-carousel-works end -->
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
    </section>
    <!-- screenshots end -->

    <!-- team -->
    <section id="team">
        <div class="container">
            <div class="row">
                <!-- team title -->
                <div class="col-md-12 titleSection">
                    <h2> Team behind Anime Illust </h2>
                    <div class="coloredLine"></div>
                </div>
                <!-- col-md-12 end -->
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
        <div class="space80"></div>
        <div class="container">
            <div class="row">
                <!-- team carousel -->
                <div id="owl-carousel-team" class="owl-carousel owl-theme">
                    <div class="item">
                        <div class="team-item col-md-12">
                            <div class="teamWrapper">
                                <img src="/libs/wix_theme/images/team/dev1.jpg" class="img-responsive" alt="" />
                                <div class="team-overlay"></div>
                                <div class="team-inner">
                                    <h5>
                                        <strong>Linh</strong> Nguyen
                                        <span> Developer</span>
                                    </h5>
                                    <div class="thumb-overlay">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- teamWrapper end -->
                        </div>
                    </div>
                    <!-- item end -->
                    <div class="item">
                        <div class="team-item col-md-12">
                            <div class="teamWrapper">
                                <img src="/libs/wix_theme/images/team/dev3.jpg" class="img-responsive" alt="" />
                                <div class="team-overlay"></div>
                                <div class="team-inner">
                                    <h5>
                                        <strong>Vu</strong> Nguyen
                                        <span>Developer</span>
                                    </h5>
                                    <div class="thumb-overlay">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- teamWrapper end -->
                        </div>
                    </div>
                    <!-- item end -->
                    <div class="item">
                        <div class="team-item col-md-12">
                            <div class="teamWrapper">
                                <img src="/libs/wix_theme/images/team/dev2.png" class="img-responsive" alt="" />
                                <div class="team-overlay"></div>
                                <div class="team-inner">
                                    <h5>
                                        <strong>Thanh</strong> Nguyen
                                        <span> Developer</span>
                                    </h5>
                                    <div class="thumb-overlay">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-linkedin"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-dribbble"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- teamWrapper end -->
                        </div>
                    </div>
                    <!-- item end -->
                </div>
                <!-- #owl-carousel-team end -->
            </div>
            <!-- row end -->
        </div>
        <!-- container end -->
    </section>
    <!-- team end -->

    <!-- parallax download -->
    <section id="download" class="parallaxBg">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 wow fadeInUp animated" data-wow-offset="100" data-wow-duration="1.5s">
                        <h1>Get Your free Download of
                            <img class="logoDownload" src="/images/general/ai_logo_text_only.svg" height="55px" alt="mix" /> App today!</h1>
                        <div class="space20"></div>
                        <!-- download buttons -->
                        <a class="btn btn-app-download ios-app" href="https://itunes.apple.com/us/app/anime-illust/id1194666149">
                            <i class="fa fa-apple"></i>
                            <strong>Download App</strong>
                            <span>from App Store</span>
                        </a>
                        <a class="btn btn-app-download android-app" href="https://play.google.com/store/apps/details?id=jcstudio.animeillustfree">
                            <i class="fa fa-android"></i>
                            <strong>Download App</strong>
                            <span>from Play Store</span>
                        </a>
                    </div>
                    <!-- col-md-12 end -->
                </div>
                <!-- row end -->
            </div>
            <!-- container end -->
        </div>
        <!-- overlay end -->
    </section>
    <!-- parallax download end -->

    <footer>
        <div class="container">
            <div class="col-md-12">
                <p>&copy; Anime Illust Design by
                    <a target="_blank" title="mixdesigns" href="http://mixdesigns.net">J&C Studio</a>
                </p>
                <div class="space20"></div>
                <ul class="circleSocial">
                    <li>
                        <a href="#">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- col-md-12 end -->
        </div>
        <!-- container end -->
    </footer>
    <div class="clearfix"></div>
    <!-- javascript Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="/libs/wix_theme/js/jquery-1.11.2.min.js"></script>
    <script src="/libs/wix_theme/js/bootstrap.min.js"></script>
    <script src="/libs/wix_theme/js/jquery.easing.min.js"></script>
    <script src="/libs/wix_theme/js/owl.carousel.min.js"></script>
    <script src="/libs/wix_theme/js/nivo-lightbox.min.js"></script>
    <script src="/libs/wix_theme/js/jquery.appear.js"></script>
    <script src="/libs/wix_theme/js/jquery.inview.js"></script>
    <script src="/libs/wix_theme/js/jquery.animateNumber.min.js"></script>
    <script src="/libs/wix_theme/js/wow.min.js"></script>
    <script src="/libs/wix_theme/js/jquery.fitvids.js"></script>
    <script src="/libs/wix_theme/js/supersized.3.2.7.min.js"></script>
    <script src="/libs/wix_theme/js/script.js"></script>
</body>

</html>